body{
 margin:0;
 overflow:hidden;
 background:black;
}

#crosshair-container{
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%,-50%);
 width:40px;
 height:40px;
 pointer-events:none;
}

.ch{
 position:absolute;
 background:white;
 box-shadow:0 0 3px black;
}

#ch-top{width:2px;height:10px;left:50%;transform:translateX(-50%);top:15px;}
#ch-bottom{width:2px;height:10px;left:50%;transform:translateX(-50%);bottom:15px;}
#ch-left{height:2px;width:10px;top:50%;transform:translateY(-50%);left:15px;}
#ch-right{height:2px;width:10px;top:50%;transform:translateY(-50%);right:15px;}
